/*************************MAIN BODY*************************/
body {
  margin: 0;
  text-align: center;
  background-color: #050505;
  font-family: "Spartan", serif;
  color: #fff;
}

p {
  color: #01ecd5;
}

/*************************Horizontal lines*************************/
hr {
  width: 40%;
  background-color: #000;
  border: 5px dashed #fff;
  border-bottom: none;
  margin: 100px auto 80px;
}

/*************************NAVBAR*************************/
.navbar {
  background-color: #000;
}

.navbar-brand {
  font-family: 'Texturina', serif;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  margin-bottom: 0;
  color: #01ecd5;
}

.navbar-toggler {
  border-color: #01ecd5;
}

.nav-item {
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Texturina', serif;
}

.nav-item a {
  font-size: 24px;
  color: #01ecd5;
  text-decoration: none;
}

a:hover {
  color: #fff;
}

/*************************Background image*************************/
.top {
  height: 80vh;
  padding-bottom: 100px;
  margin: 0;
  background-image: url("images/night-sky.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  padding-top: 50px;
  color: white;
}

/*************************KAMAD SAXENA*************************/
.heading h1 {
  position: flex;
  top: 100px;
  left: 400px;
  margin-top: 100px;
  margin-bottom: 30px;
  font-family: "Dancing Script", cursive;
  font-size: 5.62em;
}

/*************************Caption*************************/
.heading h2 {
  color: #fff;
  align-items: flex-end;
  justify-content: center;
}

span {
  color: #01ecd5;
  text-decoration: none;
}

/*************************MAIN HEADINGS*************************/
/*************************star effect*************************/
.top .night {
  height: 80vh;
  width: 80vh;
  overflow: hidden;
  display: flex;
  transform: rotateZ(10deg);
  position: relative;
  bottom: 20rem;
}

.shooting_star {
  position: absolute;
  height: 2px;
  background: linear-gradient(-45deg, rgba(255, 255, 255, 1), rgba(0, 0, 255, 0));
  border-radius: 999px;
  filter: drop-shadow(0 0 6px rgba(255, 255, 255, 1));
  animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
}

.shooting_star::before, .shooting_star::after {
  content: '';
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  height: 2px;
  background: linear-gradient(-45deg, rgba(0, 0, 255, 0), rgba(255, 255, 255, 1), rgba(0, 0, 255, 0));
  transform: translateX(50%) rotateZ(45deg);
  border-radius: 100%;
  animation: shining 3000ms ease-in-out infinite;
}

.shooting_star::after {
  transform: translateX(50%) rotateZ(-45deg);
}

/*************************INDIVIDUAL STAR*************************/
.shooting_star:nth-child(1) {
  top: calc(50% - -119px);
  left: calc(50% - 43px);
  animation-delay: 4796ms;
}

.shooting_star:nth-child(1)::before,
.shooting_star:nth-child(1)::after {
  animation-delay: 4796ms;
}

.shooting_star:nth-child(2) {
  top: calc(50% - -43px);
  left: calc(50% - 37px);
  animation-delay: 5944ms;
}

.shooting_star:nth-child(2)::before,
.shooting_star:nth-child(2)::after {
  animation-delay: 5944ms;
}

.shooting_star:nth-child(3) {
  top: calc(50% - -40px);
  left: calc(50% - 222px);
  animation-delay: 7556ms;
}

.shooting_star:nth-child(3)::before,
.shooting_star:nth-child(3)::after {
  animation-delay: 7556ms;
}

.shooting_star:nth-child(4) {
  top: calc(50% - -29px);
  left: calc(50% - 113px);
  animation-delay: 7123ms;
}

.shooting_star:nth-child(4)::before,
.shooting_star:nth-child(4)::after {
  animation-delay: 7123ms;
}

.shooting_star:nth-child(5) {
  top: calc(50% - -146px);
  left: calc(50% - 112px);
  animation-delay: 3629ms;
}

.shooting_star:nth-child(5)::before,
.shooting_star:nth-child(5)::after {
  animation-delay: 3629ms;
}

.shooting_star:nth-child(6) {
  top: calc(50% - -108px);
  left: calc(50% - 160px);
  animation-delay: 3895ms;
}

.shooting_star:nth-child(6)::before,
.shooting_star:nth-child(6)::after {
  animation-delay: 3895ms;
}

.shooting_star:nth-child(7) {
  top: calc(50% - -52px);
  left: calc(50% - 72px);
  animation-delay: 7326ms;
}

.shooting_star:nth-child(7)::before,
.shooting_star:nth-child(7)::after {
  animation-delay: 7326ms;
}

.shooting_star:nth-child(8) {
  top: calc(50% - 55px);
  left: calc(50% - 282px);
  animation-delay: 956ms;
}

.shooting_star:nth-child(8)::before,
.shooting_star:nth-child(8)::after {
  animation-delay: 956ms;
}

.shooting_star:nth-child(9) {
  top: calc(50% - 129px);
  left: calc(50% - 296px);
  animation-delay: 5030ms;
}

.shooting_star:nth-child(9)::before,
.shooting_star:nth-child(9)::after {
  animation-delay: 5030ms;
}

.shooting_star:nth-child(10) {
  top: calc(50% - 131px);
  left: calc(50% - 249px);
  animation-delay: 1150ms;
}

.shooting_star:nth-child(10)::before,
.shooting_star:nth-child(10)::after {
  animation-delay: 1150ms;
}

.shooting_star:nth-child(11) {
  top: calc(50% - 32px);
  left: calc(50% - 13px);
  animation-delay: 157ms;
}

.shooting_star:nth-child(11)::before,
.shooting_star:nth-child(11)::after {
  animation-delay: 157ms;
}

.shooting_star:nth-child(12) {
  top: calc(50% - -57px);
  left: calc(50% - 165px);
  animation-delay: 3364ms;
}

.shooting_star:nth-child(12)::before,
.shooting_star:nth-child(12)::after {
  animation-delay: 3364ms;
}

.shooting_star:nth-child(13) {
  top: calc(50% - 189px);
  left: calc(50% - 213px);
  animation-delay: 6822ms;
}

.shooting_star:nth-child(13)::before,
.shooting_star:nth-child(13)::after {
  animation-delay: 6822ms;
}

.shooting_star:nth-child(14) {
  top: calc(50% - -104px);
  left: calc(50% - 163px);
  animation-delay: 9347ms;
}

.shooting_star:nth-child(14)::before,
.shooting_star:nth-child(14)::after {
  animation-delay: 9347ms;
}

.shooting_star:nth-child(15) {
  top: calc(50% - -75px);
  left: calc(50% - 234px);
  animation-delay: 4661ms;
}

.shooting_star:nth-child(15)::before,
.shooting_star:nth-child(15)::after {
  animation-delay: 4661ms;
}

.shooting_star:nth-child(16) {
  top: calc(50% - 176px);
  left: calc(50% - 51px);
  animation-delay: 6650ms;
}

.shooting_star:nth-child(16)::before,
.shooting_star:nth-child(16)::after {
  animation-delay: 6650ms;
}

.shooting_star:nth-child(17) {
  top: calc(50% - -127px);
  left: calc(50% - 171px);
  animation-delay: 3855ms;
}

.shooting_star:nth-child(17)::before,
.shooting_star:nth-child(17)::after {
  animation-delay: 3855ms;
}

.shooting_star:nth-child(18) {
  top: calc(50% - -130px);
  left: calc(50% - 295px);
  animation-delay: 6509ms;
}

.shooting_star:nth-child(18)::before,
.star:nth-child(18)::after {
  animation-delay: 6509ms;
}

.shooting_star:nth-child(19) {
  top: calc(50% - -108px);
  left: calc(50% - 209px);
  animation-delay: 1403ms;
}

.shooting_star:nth-child(19)::before,
.shooting_star:nth-child(19)::after {
  animation-delay: 1403ms;
}

.shooting_star:nth-child(20) {
  top: calc(50% - 149px);
  left: calc(50% - 276px);
  animation-delay: 5083ms;
}

.shooting_star:nth-child(20)::before,
.shooting_star:nth-child(20)::after {
  animation-delay: 5083ms;
}

@keyframes tail {
  0% {
    width: 0;
  }

  30% {
    width: 100px;
  }

  100% {
    width: 0;
  }
}

@keyframes shining {
  0% {
    width: 0;
  }

  50% {
    width: 20px;
  }

  100% {
    width: 0;
  }
}

@keyframes shooting {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(300px);
  }
}

@keyframes sky {
  0% {
    transform: rotate(45deg);
  }

  100% {
    transform: rotate(45 + 360deg);
  }
}

/*************************PROFILE*************************/
.profile {
  width: 50%;
  margin: 70px auto 70px auto;
  text-align: left;
  line-height: 1.5;
}

/*************************PROFILE IMAGE*************************/
.profile img {
  width: 30%;
  float: left;
  margin-right: 20px;
}

.profile p {
  font-size: 20px;
}

/*************************SKILLS*************************/
#skills .skill {
  width: 10%;
  margin-right: 30px;
}

.wrapper {
  text-align: center;
}

.wrapper h1 {
  color: #fff;
  font-size: 62px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: 'Texturina', serif;
  background: linear-gradient(to left, #fff 30%, #01ecd5 50%, #fff 50%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  /* background-clip: text; */
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 1.5s linear infinite;
  display: inline-block;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

/*************************sSKILLS MAIN BOX*************************/
/* Container 1*/
#skills .container1 {
  padding-top: 50px;
  margin: auto 50px auto;
}

.container1 .box {
  position: relative;
  height: 100px;
  background: rgb(6, 12, 33);
  /* adding the grey grey */
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.05) 50%, rgb(6, 12, 33, 1) 50%);
}

/* skew colors */
.container1 .col:before {
  content: '';
  position: absolute;
  top: -5px;
  left: 8px;
  right: 8px;
  bottom: -2px;
  background: #fff;
  transform: skew(2deg, 2deg);
  z-index: -1;
}

@media screen and (max-width: 840px) {
  .container1 .col {
    width: 30%;
    margin-right: 80px;
    margin-left: 80px;
    margin-top: 50px;
  }
}

@media screen and (max-width: 340px) {
  .container1 .col {
    width: 50%;
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 50px;
  }
}

/* cool colors */
.container1 .col:nth-child(1):before {
  background: linear-gradient(315deg, #ff0057, #54e346);
}

.container1 .col:nth-child(2):before {
  background: linear-gradient(315deg, #892cdc, #edc988);
}

.container1 .col:nth-child(3):before {
  background: linear-gradient(315deg, #f5b461, #16697a);
}

.container1 .col:nth-child(4):before {
  background: linear-gradient(315deg, #19d3da, #c62a88);
}

/* Container 2*/
#skills .container2 {
  padding-top: 50px;
  margin: auto 50px auto;
}

.container2 .box {
  position: relative;
  height: 100px;
  background: rgb(6, 12, 33);
  /* adding the grey grey */
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.05) 50%, rgb(6, 12, 33, 1) 50%);
}

/* skew colors */
.container2 .col:before {
  content: '';
  position: absolute;
  top: -5px;
  left: 8px;
  right: 8px;
  bottom: -2px;
  background: #fff;
  transform: skew(2deg, 2deg);
  z-index: -1;
}

@media screen and (max-width: 840px) {
  .container2 .col {
    width: 30%;
    margin-right: 80px;
    margin-left: 80px;
    margin-top: 50px;
  }
}

@media screen and (max-width: 340px) {
  .container2 .col {
    width: 50%;
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 50px;
  }
}

/* cool colors */
.container2 .col:nth-child(1):before {
  background: linear-gradient(315deg, #54e346, #ff0057);
}

.container2 .col:nth-child(2):before {
  background: linear-gradient(315deg, #edc988, #892cdc);
}

.container2 .col:nth-child(3):before {
  background: linear-gradient(315deg, #16697a, #f5b461);
}

.container2 .col:nth-child(4):before {
  background: linear-gradient(315deg, #c62a88, #19d3da);
}

/* keeping the content sorted */
.content {
  position: relative;
  padding: 10px;
  transform: translateY(40px);
}

/* NUMBER HEADING*/
.content h2 {
  position: absolute;
  top: -60px;
  right: 20px;
  margin: 0;
  padding: 0;
  font-size: 2.5em;
  color: rgba(255, 255, 255, 255.05);
  transition: 0.5s;
}

/* floating Effect */
.box:hover .content h2 {
  top: -85px;
}

/* SKILL HEADINGS */
.box .content h3 {
  margin: auto;
  font-size: 30px;
  font-weight: 500;
  color: #fff;
}

.skill-title {
  /* font-family:  */
}

/*************************CONTACT PART*************************/
.contact-me {
  line-height: 2;
  margin: 50px;
  padding-bottom: 50px;
}

.bottom-container {
  display: flex;
  height: 30vh;
  align-items: center;
  position: relative;
  left: 350px;
  text-align: center;
}

/*************************Social media*************************/
.icon {
  margin: 50px 0;
  position: absolute;
  left: 49%;
  transform: translate(-50%, -50%);
  width: 550px;
}

/* Style the Un-order list by setting its list-style to none */
.icon ul {
  list-style: none;
}

/* Style the list items inside the UL list, by setting its width, height and line-height
  and float them to left and set its border and border-radius.
 */
.icon ul li {
  width: 75px;
  height: 75px;
  line-height: 75px;
  margin: 0 10px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  border: 5px solid #D8E2DC;
  float: left;
  transition: all 0.5s ease;
}

/* Style the icons by setting its color and margin-top value to 20px
to align it properly */
.icon ul li .fa {
  color: #D8E2DC;
  margin-top: 20px;
  transition: all 0.5s ease;
}

/* Now target the specific li classes for styling and use box-shadow effect to border and text-shadow effect
  to icons for glowing effect and use transition property for smooth transition effect. */
/*facebook*/
.icon ul li:hover.facebook {
  border: 5px solid #3b5998;
  box-shadow: 0 0 15px #3b5998;
  transition: all 0.5s ease;
}

.icon ul li:hover .fa-facebook {
  color: #3b5998;
  text-shadow: 0 0 15px #3b5998;
  transition: all 0.5s ease;
}

/* instagram */
.icon ul li:hover.instagram {
  border: 5px solid #ff4b5c;
  box-shadow: 0 0 15px #ff4b5c;
  transition: all 0.5s ease;
}

.icon ul li:hover .fa-instagram {
  color: #ff4b5c;
  text-shadow: 0 0 15px #ff4b5c;
  transition: all 0.5s ease;
}

/* linkedin */
.icon ul li:hover.linkedin {
  border: 5px solid #28abb9;
  box-shadow: 0 0 15px #28abb9;
  transition: all 0.5s ease;
}

.icon ul li:hover .fa-linkedin {
  color: #28abb9;
  text-shadow: 0 0 15px #28abb9;
  transition: all 0.5s ease;
}

/*twitter*/
.icon ul li:hover.twitter {
  border: 5px solid #00aced;
  box-shadow: 0 0 15px #00aced;
  transition: all 0.5s ease;
}

.icon ul li:hover .fa-twitter {
  color: #00aced;
  text-shadow: 0 0 15px #00aced;
  transition: all 0.5s ease;
}

/* github */
.icon ul li:hover.github {
  border: 5px solid #f6830f;
  box-shadow: 0 0 15px #f6830f;
  transition: all 0.5s ease;
}

.icon ul li:hover .fa-github {
  color: #f6830f;
  text-shadow: 0 0 15px #f6830f;
  transition: all 0.5s ease;
}

/* media queries */
@media screen and (max-width: 640px) {
  .icon {
    width: 350px;
  }

  .icon ul li {
    margin-top: 10px;
  }

  .icon ul li.google {
    margin-left: 60px;
  }
}

@media screen and (max-width: 340px) {
  .icon {
    width: 150px;
  }

  .icon ul li {
    margin: 15px;
  }

  .icon ul li.google {
    margin-left: 15px;
  }
}

.copyright {
  display: block;
  margin: 100px 0 0 0;
}

.copyright p {
  margin: 0;
}

